@import
  "variables",
  "mixins",
  "_global/fonts",
  "_global/typo",
  "_global/layout",
  "_global/base",
  // common micro blocks
  "_blocks/link",
  "_blocks/btn",
  "_blocks/logo",
  "_blocks/field",
  "_blocks/checkbox",
  "_blocks/radio",
  // common blocks: header
  "_blocks/page-header",
  "_blocks/nav",
  // common blocks: content
  "_blocks/intro",
  // index
  "_blocks/download",
  "_blocks/features",
  "_blocks/slider",
  "_blocks/reviews",
  "_blocks/review",
  "_blocks/tariffs",
  "_blocks/contacts",
  // form
  "_blocks/form",
  "_blocks/modal",
  // photo
  "_blocks/feed",
  "_blocks/post",
  "_blocks/editor",
  // common blocks: footer
  "_blocks/page-footer",
  "_blocks/socials",
  "_blocks/copyright";
  // index blocks
