extends ../_layouts/base

block variables
  -var headerTitle = "Взгляните на жизнь иначе!"

block content
  .wrap
    +header
    p.intro Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
