extends ../_layouts/base

block variables
  - var isNoFooter = false

block content
  +intro("Конкурс на самое безбашеное путешествие с Пинк")
  +text("Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!")
  +form
