extends ../_layouts/base

block variables

block content
  +b.intro
    +e.H1.title Конкурс на самое безбашеное путешествие с Пинк
  p.text Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!

  +b.FORM.form
    .box
      .container
        +e.FIELDSET.fieldset
          each item, index in site.data.form.fieldsName
            +field(item, index)

    .box.box--dark
      .container
        +e.FIELDSET.fieldset
          +e.P.title Ваши безбашенные достижения в путешествии
          each item, index in site.data.form.radiosAchievement
            +radio(item, index)

    .box
      .container
        +e.FIELDSET.fieldset
          each item, index in site.data.form.fieldsContact
            +field(item, index)

    .box.box--dark
      .container
        +e.FIELDSET.fieldset
          +e.P.title С каким приложением путешествовали?
          each item, index in site.data.form.checkboxesOs
            +checkbox(item, index)

    .box
      .container
        +e.FIELDSET.fieldset
          +e.LABEL.title(for="fs-text") Опишите свои эмоции
          +e.TEXTAREA.textarea(
            id="fs-text",
            rows="5",
            name="text",
            placeholder="Можно прям в красках, не стесняясь в выражениях"
            )

    +e.btn-wrap
      +b.BUTTON.btn--form(type="submit") Отправить форму
    +e.SMALL.disclaimer
      +e.SPAN.asterisk *
      | — обязательные поля

  +modal
  +modal-fail
