extends ../_layouts/base

block variables
  - var isIndex = true
  - var isNoFooter = true

block content
  +intro("Взгляните на жизнь иначе!")
  +download
  +features
  +reviews
  +tariffs
  +contacts
