extends ../_layouts/base

block variables
  - var isIndex = true
  - var isFooterHidden = true

block content
  +b.intro--index
    +e.title-wrap--index
      +e.H1.title--index Взгляните на жизнь иначе!
    +download

  .box
    .container
      h2.title
        span Устали от серости мегаполиса?
        span Нам есть, что вам предложить!

  .box.box--dark
    .container
      +features

  .box.box--blink
    .container
      +research

  .box
    .container
      +reviews

  .box.box--dark
    .container
      +tariffs

  .box
    .container
      +contacts
