extends ../_layouts/base

block variables

block content
  +b.intro
    +e.H1.title Фотографии пользователей
  p.text Взгляните на фотографии, которые выкладывают наши пользователи! Видите, как не хватает ваших?
  +feed
  p.text Затмите их всех! Выкладывайте все, что накопилось в телефоне!
  +editor
