extends ../_layouts/base

block variables

block content
  +intro("Фотографии пользователей")
  +text("Взгляните на фотографии, которые выкладывают наши пользователи! Видите, как не хватает ваших?")
  +feed
  +text("Затмите их всех! Выкладывайте все, что накопилось в телефоне!")
  +editor
