extends ../_layouts/base

block variables

block content
  +b.intro
    +e.title-wrap
      +e.H1.title Фотографии пользователей
    .box
      .container
        +e.P.text Взгляните на фотографии, которые выкладывают наши пользователи! Видите, как не хватает ваших?

  +b.SECTION.feed
    .container
      each item in site.data.feed
        +post(item)

  .container
    p.text Затмите их всех! Выкладывайте все, что накопилось в телефоне!

  +editor
