.container {
  min-width: $w_container_min;
  margin: 0 auto;
  padding-left: $offset_mobile;
  padding-right: $offset_mobile;
  outline: 1px solid bisque;

  @media #{$tablet} {
    padding-left: $offset_tablet;
    padding-right: $offset_tablet;
  }

  @media #{$desktop} {
    max-width: $w_container_max;
    padding-left: $offset_desktop;
    padding-right: $offset_desktop;
  }
}

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: - $gutter / 2;
  margin-right: - $gutter / 2;
  // @media #{$tab-desk} {
  //
  // }
}

@mixin col-fluid($i) {
  width: #{$i / 12 * 100%};
  display: flex;
  flex-direction: column;

  @media #{$tab-desk} {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

@mixin col {
  display: flex;
  flex-direction: column;
  width: $w_block - $gutter;
  // margin: 0 auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  @media #{$tab-desk} {
    width: $w_block + $gutter;
  }
}
