.download {
  @include container;
  min-height: 270px;
  background-color: $bg_dark;
  color: $c_alt;
  text-align: center;
}

// @media #{$mobile}
// @media #{$tablet}
// @media #{$desktop}

@media #{$tab-desk} {
  .download {
    background-color: transparent;

    &__inner {
      width: $w_block;
    }
  }
}
