.editor {
  @include container;
  background-color: $bg_grey;

  &__inner {
    @include grid;
    flex-direction: column;
  }

  &__img-wrap {
    display: flex;
    width: 100%;
  }

  &__img {
    width: $w_block - $gutter;
    margin: 0 auto;
  }

  &__tools {
    width: $w_block - $gutter;
    margin: 0 auto;
  }

  &__input {
    display: none;
  }

  &__control {
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: column;
    width: $w_block - $gutter;
  }
}

@media #{$mobile} {
  .editor {
    // переключение инструментов
    &__input[id="tool-crop"]:checked + &__label[for="tool-crop"],
    &__input[id="tool-fill"]:checked + &__label[for="tool-fill"],
    &__input[id="tool-contrast"]:checked + &__label[for="tool-contrast"] {
      outline: 1px solid tomato;
    }

    &__control {
      display: none;
    }

    &__input[id="tool-crop"]:checked ~ &__control--crop,
    &__input[id="tool-fill"]:checked ~ &__control--fill,
    &__input[id="tool-contrast"]:checked ~ &__control--contrast {
      display: block;
    }
  }
}

@media #{$tab-desk} {
  .editor {
    &__inner {
      flex-direction: row;
    }

    &__img-wrap {
      @include col-fluid(6);
    }

    &__img {
      width: $w_block;
    }

    &__tools {
      @include col-fluid(6);
    }

    &__btn-wrap {
      flex-direction: row;
    }
  }
}

@media #{$tablet} {
  .editor {
    &__tools {
      width: 295px;
      margin-right: 0;
    }
  }
}

@media #{$desktop} {
  .editor {
    &__tools {
      width: 410px;
      margin-left: 0;
      padding-left: 0;
    }
  }
}
