.features {
  min-height: 735px;

  &__item {
    text-align: center;
  }
}

@media #{$tablet} {
  .features {
    min-height: 485px;

    &__item {
      padding-left: 50%;
      text-align: left;
    }
  }
}

@media #{$desktop} {
  .features {
    display: flex;
    justify-content: space-between;
    min-height: 600px;

    &__item {
      width: $w_block;
    }
  }
}

// @media #{$tab-desk}
