mixin contacts
  +b.SECTION.contacts
    +e.H2.header Остались вопросы? Свяжитесь с нами!
    +e.DL.list
      each item in site.data.contacts
        +e.DT.title= item.title + ":"
        +e.DD.descr
          case item.type
            when "phone"
              +e.A.link(href="tel:"+item.value)= item.descr
            when "email"
              +e.A.link(href="mailto:"+item.value)= item.descr
            default
              +e.SPAN.item= item.descr
    +e.map
