mixin download
  +b.download
    +e.btn-wrap
      +b.A.btn(href="#") Скачать приложение
    +e.links
      +e.A.link--apple(href="#", title="Скачать в Apple iTunes") Apple iTunes
        +e.SVG.icon--apple
          use
      +e.A.link--google(href="#", title="Скачать на Google Play") Google Play
        +e.SVG.icon--google
          use
      +e.A.link--win(href="#", title="Скачать в Windows Center") Windows Center
        +e.SVG.icon--win
          use
    +e.P.text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
