mixin download(items)
  +b.SECTION.download
    +e.btn
      +b.A.btn(href="#") Скачать приложение
    +e.links
     +e.A.link--apple(href="#") Apple iTunes
     +e.A.link--google(href="#") Google Play
     +e.A.link--win(href="#") Windows Center
    +e.P.text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
