-
  var downloadLink = [
    {
      text: "Apple iTunes",
      link: "#",
      abbr: "apple"
    },
    {
      text: "Google Play",
      link: "#",
      abbr: "google"
    },
    {
      text: "Windows Center",
      link: "#",
      abbr: "win"
    }
  ]

mixin download(items)
  +b.SECTION.download
    +btn("Скачать приложение")
    +e.links
      each item in downloadLink
        +e.A(href=item.link, class="__link--" + item.abbr, title="Скачать в " + item.text)= item.text
          +e.SVG(class="__icon--" + item.abbr)
    +e.P.text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
