mixin features
  +b.SECTION.features
      +e.H2.header Устали от серости мегаполиса? <br> Нам есть, что вам предложить!
    each item in site.data.features  
      +e.item
        +e.H3.title #{item.title}
        +e.P.text #{item.text}
