mixin features
  +b.SECTION.features
    +e.HEADER.header
      +e.H2.intro Устали от серости мегаполиса?
      +e.H2.intro Нам есть, что вам предложить
    +e.item
      +e.H3.title   
      
      //реализация как в меню с контент-тайтлом у АМ, включить тайтлы с интро в json?
