mixin fieldset-text
  +b.FIELDSET.fieldset-text
    +e.LABEL.label(for="fs-text") Опишите свои эмоции
    +e.TEXTAREA.input(
      id="fs-text", 
      rows="5", 
      name="text", 
      placeholder="Можно прям в красках, не стесняясь в выражениях"
      )
