mixin form
  +b.FORM.form
    +b.wrap
      +fieldset-name
    +b.wrap--dark
      +fieldset-check
    +b.wrap
      +fieldset-contacts
    +b.wrap--dark
      +fieldset-radio
    +b.wrap
      +fieldset-text
    +e.btn
      +b.BUTTON.btn--form(type="submit") Отправить форму
    +e.SMALL.disclaimer
      +e.SPAN.asterisk *
      | — обязательные поля
    +modal
    +modal-fail  
