mixin modal
  +b.modal
    +e.title Ваша заявка отправлена
    +e.text Спасибо за ваше участие, ваша заявка уже поступила к нам. В ближайшее время мы рассмотрим ее и оповестим вас.
    +e.btn--ok
      +b.A.btn--modal(href="#") Закрыть окно

mixin modal-fail
  +b.modal--fail
    +e.title Что-то пошло не так!
    +e.text Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить
    +e.btn
      +b.A.btn--modal(href="#") Ok
