-
  var navItems = [
    {
      name: "Информация",
      link: "index.html"
    },
    {
      name: "Возможности",
      link: "form.html"
    },
    {
      name: "Отзывы",
      link: "photo.html"
    },
    {
      name: "Стоимость",
      link: "price.html"
    }
  ]

mixin nav
  +b.NAV.nav
    +logo
    +e.icon-menu--opened
    +e.UL.list--opened
      each item in navItems
        +e.LI.item
          +e.A.link(href=item.link) #{item.name}
