mixin research
  +b.research
    .container
      +e.H2.title Эффект на 24 часа!
      +e.H2.text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
      +e.A.link(href="#") Узнать больше об исследовании
