mixin reviews
  +b.SECTION.reviews
    +e.wrap
      +e.controls
        each item, index in site.data.reviews
          - var ifChecked = false
          if index == 0
            - ifChecked = true
          +e.INPUT.input(
            id="review-" + (index + 1),
            type="radio",
            name="reviews",
            checked = ifChecked
          )
          +e.LABEL.control(for="review-" + (index + 1))   
      each item in site.data.reviews
        +e.item
          +e.P.author= item.name
          +e.P.text= item.text
