mixin reviews
  +b.SECTION.reviews
    +e.wrap
      +e.controls
        each item, index in site.data.reviews
          - var isChecked = false
          if index == 0
            - isChecked = true
          +e.INPUT.input(
            id="review-" + (index + 1),
            type="radio",
            name="reviews",
            checked=isChecked
            )
          +e.LABEL.control(for="review-" + (index + 1))
      each item in site.data.reviews
        +e.BLOCKQUOTE.item
          +e.H1.author= item.author
          +e.P.text= item.text
