mixin reviews
  +b.SECTION.reviews
    //- slider-block starts
    +b.slider--reviews
      +e.controls
        each item, index in site.data.reviews
          - var isChecked = false
          if index == 0
            - isChecked = true
          +e.INPUT.input(
            id="review-" + (index + 1),
            type="radio",
            name="reviews",
            checked=isChecked
            )
          +e.LABEL.control(for="review-" + (index + 1))
    //- slider-block ends
    each item in site.data.reviews
      +review(item)
