mixin socials
  +b.socials
    +e.A.item--fb(href="#", title="Pink на Facebook") Facebook
      +e.SVG.icon--fb
        use
    +e.A.item--tw(href="#", title="Pink в Twitter") Twitter
      +e.SVG.icon--tw
        use
    +e.A.item--yt(href="#", title="Pink на Youtube") Youtube
      +e.SVG.icon--yt
        use
