mixin tariffs
  +b.SECTION.tariffs
    +e.wrap
      +e.controls
        each item, index in site.data.tariffs
          - var isChecked = false
          if index == 0
            - isChecked = true
          +e.INPUT.input(
            id="price-" + (index + 1),
            type="radio",
            name="tariff",
            checked = ifChecked
          )
          +e.LABEL.control(for="price-" + (index + 1))
      each item in site.data.tariffs
        +e.TABLE.item
          +e.TR
            +e.TH(colspan="2")
              +e.SPAN.title= item.name
              +e.SPAN.price= item.price
          each val in item.options
            +e.TR
              +e.TD= val.name
              +e.TD
                if val.isValue == true
                  | Есть
                  +e.SVG.icon--true
                    use
                else
                  | Нет
                  +e.SVG.icon--false
                    use
