include ../_blocks/bemto/bemto
include ../_blocks/contacts
include ../_blocks/copyright
include ../_blocks/download
include ../_blocks/editor
include ../_blocks/features
include ../_blocks/feed
include ../_blocks/footer
include ../_blocks/header
include ../_blocks/logo
include ../_blocks/nav
include ../_blocks/post
include ../_blocks/reviews
include ../_blocks/socials
include ../_blocks/tariffs

block variables

doctype html

head
  meta(charset='utf-8')
  title Pink
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block style

body
  block content
  block script
